html {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body,
html {
  width: 100%;
  height: 100%;
}

hr.divider {
  max-width: 80px;
  border-width: 3px;
  border-color: #ff7915;
}

.btn-my-primary {
  color: white;
  background-color: #ff7915;
}

.btn-my-primary:focus, .btn-my-primary:hover {
  color: #ff7915;
  background-color: rgba(0, 0, 0, 0);
  border-color: #ff7915;
}

.btn-outline-my-primary {
  color: #ff7915;
  border-color: #ff7915;
}

.btn-outline-my-primary:focus, .btn-outline-my-primary:hover {
  color: white;
  background-color: #ff7915;
  border-color: #ff7915;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

div#index, div#catalog {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 4.5rem;
  padding-bottom: 0;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 48px;
}

#banner {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90px;
  display: flex;
  align-items: center;
  /* vertical alignment */
}
#banner h2 {
  font-family: "Playfair Display", serif;
}
#banner .brand {
  width: 60px;
  margin: 10px;
  margin-left: 10px;
}

#login-btn {
  margin-right: 10px;
}

div#catalog .container-fluid, #catalog .container-sm, #catalog .container-md, #catalog .container-lg, #catalog .container-xl {
  max-width: 1920px;
}

div#catalog .container-fluid .catalog-box, #catalog .container-sm .catalog-box, #catalog .container-md .catalog-box, #catalog .container-lg .catalog-box, #catalog .container-xl .catalog-box {
  position: relative;
  display: block;
}

div#catalog .container-fluid .catalog-box .catalog-box-caption, #catalog .container-sm .catalog-box .catalog-box-caption, #catalog .container-md .catalog-box .catalog-box-caption, #catalog .container-lg .catalog-box .catalog-box-caption, #catalog .container-xl .catalog-box .catalog-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(39, 61, 87, 0.8);
  transition: opacity 0.25s ease;
  text-align: center;
}

div#catalog .container-fluid .catalog-box .catalog-box-caption .project-category, #catalog .container-sm .catalog-box .catalog-box-caption .project-category, #catalog .container-md .catalog-box .catalog-box-caption .project-category, #catalog .container-lg .catalog-box .catalog-box-caption .project-category, #catalog .container-xl .catalog-box .catalog-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

div#catalog .container-fluid .catalog-box .catalog-box-caption .project-name, #catalog .container-sm .catalog-box .catalog-box-caption .project-name, #catalog .container-md .catalog-box .catalog-box-caption .project-name, #catalog .container-lg .catalog-box .catalog-box-caption .project-name, #catalog .container-xl .catalog-box .catalog-box-caption .project-name {
  font-size: 1.2rem;
}

div#catalog .container-fluid .catalog-box:hover .catalog-box-caption, #catalog .container-sm .catalog-box:hover .catalog-box-caption, #catalog .container-md .catalog-box:hover .catalog-box-caption, #catalog .container-lg .catalog-box:hover .catalog-box-caption, #catalog .container-xl .catalog-box:hover .catalog-box-caption {
  opacity: 1;
}

.text-desc {
  color: #D0D1D2;
}

div#form-card {
  margin: auto;
  margin-top: 10px;
  width: 50%;
  padding: 50px;
  border-top: 5px solid #ff7915;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#review-box {
  padding: 10px;
  border-top: 5px solid #ff7915;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#review-message {
  width: 100%;
  margin: 5px;
  word-wrap: break-word;
}

.starrating > input[type=radio]:not(old) {
  width: 1px;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.starrating > label:before {
  margin: 2px;
  display: inline-block;
}

.starrating > label {
  color: #222222;
}

.starrating > input:checked ~ label {
  color: #ff7915;
}

.starrating > input:hover ~ label {
  color: #ff7915;
}

.rate {
  color: #ff7915;
}

.non-rate {
  color: #222222;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #343a40;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
}

.searchbar > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: #ff7915;
  transition: width 0.4s linear;
}

.searchbar > .search_icon {
  background: white;
  color: #ff7915;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
