{% extends "layout.html" %}

{% block content %}
<!-- Content-->
<div id="form-card">
    <h3 class="text-center mt-3"> Add a book </h3>
    <form action="{{ url_for('submitBook') }}" method="post">
        {% if message %}
            <p class="font-weight-bold text-danger">Invalid user</p>
        {% endif %}

        {% if book and error %}
            <div class="form-group">
                <label for="isbn">ISBN:</label>
                <input type="text" class="form-control {% if error %} is-invalid {% else %} is-valid {% endif %}" placeholder="ISBN" id="isbn" name="isbn" value="{{ book.isbn }}" required>
                <div class="invalid-feedback"> Book already exists </div>
            </div>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" placeholder="Title" id="title" name="title" value="{{ book.title }}" required>
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input type="text" class="form-control" placeholder="Author" id="author" name="author" value="{{ book.author }}" required>
            </div>
            <div class="form-group">
                <label for="year">Year:</label>
                <input type="text" class="form-control" placeholder="Year" id="year" name="year" value="{{ book.year }}" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-my-primary">Add</button>
            </div>
        {% else %}
            <div class="form-group">
                <label for="isbn">ISBN:</label>
                <input type="text" class="form-control" placeholder="ISBN" id="isbn" name="isbn" required>
            </div>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" placeholder="Title" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input type="text" class="form-control" placeholder="Author" id="author" name="author" required>
            </div>
            <div class="form-group">
                <label for="year">Year:</label>
                <input type="text" class="form-control" placeholder="Year" id="year" name="year" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-my-primary">Add</button>
            </div>
        {% endif %}
        
    </form>
</div>

{% endblock %}
