{% extends "layout.html" %}

{% block catalog %} active {% endblock %}

{% block content %}
<!-- Content-->
<div id="catalog">
    <div class="container">
        {% if success == "add" %} 
        <div class="alert alert-success" role="alert">
            Successfully Added!
        </div>
        {% elif success == "edit" %}
        <div class="alert alert-success" role="alert">
            Successfully Edited!
        </div>
        {% elif success == "false" %}
        <div class="alert alert-danger" role="alert">
            Error has been occurred
        </div>
        {% endif %}

        {% if book.error %}            
            <h2> Invalid ISBN </h2>
        {% else %}
            <div class="row" id="book-info">
                <div class="col-md-6">
                    <h2>{{ book.title }}</h2>
                    <h4>by {{ book.author }}</h4>
                    <br />
                    <p> ISBN: {{ book.isbn }} </p>
                    <p> Year: {{ book.year }} </p>
                </div>
                <div class="col-md-6">
                    <p> Average Rating: {{ rating_stats.avg }} </p>
                    <p> Number of Rating: {{ rating_stats.count }} </p>
                    <a class="btn btn-info" href="{{ url_for('editBook', isbn=book.isbn) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('deleteBook', isbn=book.isbn) }}">Delete</a>
                </div>
            </div>
            <hr/>

            <div class="row mt-5">
                <div class="col-md-5" id="review-box">
                    {% if reviewed %}
                        <p class="p-3 text-center text-muted">Already submitted a review.</p>
                    {% else %}
                        <h3 class="p-3"> Write your review </h3>
                        <hr />
                        <form action="{{ url_for('submitReview', isbn=book.isbn) }}" method="post">
                            <div class="starrating risingstar d-flex flex-row-reverse">
                                <input type="radio" id="star5" name="rating" value="5" required/><label for="star5" title="5 star"><i class="fas fa-star fa-lg"></i></label>
                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"><i class="fas fa-star fa-lg"></i></label>
                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"><i class="fas fa-star fa-lg"></i></label>
                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"><i class="fas fa-star fa-lg"></i></label>
                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"><i class="fas fa-star fa-lg"></i></label>
                                <div class="invalid-feedback">Please rate</div>
                            </div>
                            <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="3" required></textarea>
                            <div class="text-right">
                                <button class="btn btn-outline-success" type="submit">Submit</button>
                            </div>
                        </form>
                    {% endif %}
                </div>

                <div class="col-md-1">
                </div>

                <div class="col-md-6" id="review-box">
                    <h3> Reviews </h3>
                    <hr />
                    {% if reviews.error %}
                        <h4> There are no reviews... </h4>
                    {% else %}
                        {% for review in reviews %}
                            <div id="review-message">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p>{{ review.name }} </p>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <em>{{review.rating}}/5</em>
                                        {% for rate in range(review.rating)%}
                                            <i class="fas fa-star rate"></i>
                                        {% endfor %}
                                        {% for nonrate in range(5-review.rating)%}
                                            <i class="fas fa-star non-rate"></i>
                                        {% endfor %}
                                    </div>
                                </div>
                                <p class="mt-2"> {{ review.review }} <p>
                            </div>
                            <hr />
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
