{% extends "layout.html" %}

{% block catalog %} active {% endblock %}

{% block content %}
<!-- Content-->
<div id="catalog">
    <div class="container">
        {% if success == "delete" %} 
        <div class="alert alert-success" role="alert">
            Successfully Deleted!
        </div>
        {% endif %}
        <div class="row align-items-center justify-content-center text-center">
            <div class="d-flex justify-content-center">
                <form action="{{ url_for('search') }}" class="searchbar" method="get" id="search">
                    <input class="search_input" type="text" name="query" value = "{{ query if query }}" placeholder="Search..." required>
                    <button class="btn search_icon"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        {% if books.error %}
            <h3 class="text-center mt-5"> No books found </h3>
        {% else %}
            {% if query %}
                <h4 class="mt-1"> You've searched '{{ query }}' </h4>
            {% endif %}
            <div class="table-responsive mt-5">
                <table id="bookTable" class="table table-bordered table-hover">
                  <thead class="thead-dark text-center">
                    <tr>
                      <th scope="col">ISBN</th>
                      <th scope="col">Title</th>
                      <th scope="col">Author</th>
                      <th scope="col">Year</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for book in books %}
                          <tr>
                            <th scope="row">{{ book.isbn }}</th>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td class="text-center">{{ book.year }}</td>
                            <td class="text-center">
                                <a class="btn btn-my-primary" href="{{ url_for('book', isbn=book.isbn) }}">View</a>
                                <a class="btn btn-info" href="{{ url_for('editBook', isbn=book.isbn) }}">Edit</a>
                                <a class="btn btn-danger" href="{{ url_for('deleteBook', isbn=book.isbn) }}">Delete</a>
                            </td>
                          </tr>
                      {% endfor %}
                  </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
