{% extends "layout.html" %}

{% block content %}
<!-- Content-->
<div id="form-card">
    <h3 class="text-center mt-3"> Edit Book </h3>
    <form action="{{ url_for('submitEditBook', isbn=book.isbn) }}" method="post">
        {% if message %}
            <p class="font-weight-bold text-danger">Invalid user</p>
        {% endif %}
        <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input type="text" class="form-control" placeholder="ISBN" id="isbn" name="isbn" value="{{ book.isbn }}" disabled>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" placeholder="Title" id="title" name="title" value="{{ book.title }}" required>
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" class="form-control" placeholder="Author" id="author" name="author" value="{{ book.author }}" required>
        </div>
        <div class="form-group">
            <label for="year">Year:</label>
            <input type="text" class="form-control" placeholder="Year" id="year" name="year" value="{{ book.year }}" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-my-primary">Update</button>
            <a class="btn btn-danger" href="{{ url_for('deleteBook', isbn=book.isbn) }}">Delete</a>
        </div>
    </form>
</div>

{% endblock %}
