{% extends "layout.html" %}

{% block home %} active {% endblock %}

{% block content %}
<!-- Content-->
<div id="index">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="font-weight-bold">Welcome to {{ title }}</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                {% if user %}
                    <p class="font-weight-bold">Welcome {{ user.name }}</p>
                {% endif %}
                <p class="font-weight-light mb-5"><em>
                    "A library is a curated collection of sources of information and similar resources,
                    selected by experts and made accessible to a defined community for reference or borrowing,
                    often in a quiet environment conducive to study"
                </em>
                </p>
                {% if not user %}
                <div>
                    <a class="btn btn-outline-my-primary btn-lg mb-5" href="{{ url_for('login') }}">Login now</a>

                    <div class="text-center">
                        <p> Don't have an account yet? <a href="{{ url_for('register') }}">Create an account</a></p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
