<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap4 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

        <!-- Third party plugin CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <title>{{ title }}</title>
    </head>
    <body>

    <!-- Banner -->
    <div id="banner" class="mb-0">
        <img src="{{ url_for('static', filename='assets/brand_logo.png') }}" class="d-inline-block brand" alt="">
        <h2>Burgundy Library Management System</h2>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg" id="mainNav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item {% block home %}{% endblock %}">
                <a class="nav-link" href="{{ url_for('index') }}">Home </a>
              </li>
              {% if user %}
                  <li class="nav-item {% block catalog %}{% endblock %}">
                    <a class="nav-link" href="{{ url_for('catalog') }}">Catalog </a>
                  </li>
              {% endif %}
            </ul>
                {% if user %}
                    <a id="login-btn" class="btn btn-success" href="{{ url_for('addBook') }}">Add Book</a>
                    <a id="login-btn" class="btn btn-my-primary" href="{{ url_for('logout') }}">Logout</a>
                    <form action="{{ url_for('search') }}" class="form-inline" method="get">
                        <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                {% else %}
                    <a id="login-btn" class="btn btn-my-primary" href="{{ url_for('login') }}">Login</a>
                    <a id="login-btn" class="btn btn-my-primary" href="{{ url_for('register') }}">Register</a>
                {% endif %}
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    </body>
<html>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
