{% extends "layout.html" %}

{% block content %}
<!-- Content-->
<div id="form-card">    
    <h3 class="text-center"> Login </h3>
    
    {% if error %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">{{ error }}</h4>
        <hr>
        <p class="mb-0">{{ errormsg }}</p>
    </div>
    {% endif %}
    
    <form action="{{ url_for('loginUser') }}" method="post">
        {% if message %}
            <p class="font-weight-bold text-danger">Invalid user</p>
        {% endif %}
        <div class="form-group">
            <!-- <label for="uname">Username:</label> -->
            <input type="text" class="form-control" placeholder="Username" id="username" name="username">
        </div>
        <div class="form-group">
            <!-- <label for="password">Password:</label>-->
            <input type="password" class="form-control" placeholder="Password" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-my-primary btn-block">Login</button>
    </form>

    <div class="mt-3 text-center">
        <p> Don't have an account yet? </p>
        <a href="{{ url_for('register') }}">Create an account</a>
    </div>
</div>

{% endblock %}
