{% extends "layout.html" %}

{% block content %}
<!-- Content-->
<div id="form-card">
    <h3 class="text-center"> Registration </h3>
    <form action="{{ url_for('verify') }}" method="post">
    <!--<form action="{{ url_for('verify') }}" method="post" class="was-validated">-->
        {% if registerUser and error %}
            <div class="form-group">
                <!--<label for="fullname">Name:</label>-->
                <input type="text" class="form-control {% if error=='name' %} is-invalid {% else %} is-valid {% endif %}" placeholder="Name" name="fullname" id="fullname" value="{{ registerUser.name }}" required>
            </div>
            <div class="form-group">
                <!--<label for="uname">Username:</label>-->
                <input type="username" class="form-control {% if error %} is-invalid {% else %} is-valid {% endif %}" placeholder="Username" name="username" id="username" value="{{ registerUser.username }}" required>
                <div class="invalid-feedback"> Username already exists </div>
            </div>
            <div class="form-group">
                <!--<label for="pwd">Password:</label>-->
                <input type="password" class="form-control {% if error=='password' %} is-invalid {% endif %}" placeholder="Password" name="password" id="password" required>
            </div>
        {% else %}
            <div class="form-group">
                <!--<label for="fullname">Name:</label>-->
                <input type="text" class="form-control" placeholder="Name" name="fullname" id="fullname" required>
            </div>
            <div class="form-group">
                <!--<label for="uname">Username:</label>-->
                <input type="username" class="form-control" placeholder="Username" name="username" id="username" required>
            </div>
            <div class="form-group">
                <!--<label for="pwd">Password:</label>-->
                <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
            </div>
        {% endif %}

        <button type="submit" class="btn btn-my-primary btn-block">Register</button>
    </form>
</div>
{% endblock %}
